* {
  transition: all 0.7s;
}
body {
  font-family:'Pangolin', cursive;
  background: #6cf;
  margin: 0px;
  transition: 1s all;  
}

.photo-container {
  background: url('anaksd.jpg');
  background-size: cover;
  height: 100vh;
  background-position-x: 50%;
  background-position-y: center;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
}

.container {
  height: 330px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
}

.tittle {
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: 'Pangolin', cursive;
}

.question {
  padding: 20px;
  font-size: 22px;
  background: rgba(214, 76, 21, 0.97);;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #000;
}

.option {
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 20px; 
}

.option:hover{
  background: #ff9933;
  color: #f6f6f6;
}

.next-btn{
  border:none;
  outline: none;
  background: rgba(244, 66, 66, 0.5);
  color: #fff;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor:pointer;
  margin: 10px;
  margin-left: 46%;
}

.next-btn:hover{
  background: #ff9933;
  color: #fff;
}

.result{
  height: 100px;
  text-align: center;
  font-size: 75px;
  color: #fff;
}

.option input:checked .option{
  background: #08038C;
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

a:focus, a:hover {
  color: #aaa;
  text-decoration: none;
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: black;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-family: 'Pangolin', cursive;
  font-style: italic;
  font-size: 4em;
  line-height: 1.2em;
  top: 80px;
}

.btn-outline {
  width: 140px;
  font-family: 'Raleway', sans-serif;
  background-color:rgba(127, 218, 87, 0.75);
  padding: 12px 22px;
  margin: 10px 20px;
  color: inherit;
  transition: all .5s;
  border: 1.5px solid #fff;
  border-radius: 24px;
  outline: none;
}

.btn-secondary.btn-outline {
  color: #fff;
}

.btn-secondary.btn-outline:hover {
  color: #aaa;
}

.btn-secondary.btn-outline:focus {
  outline: none;
  color: #aaa;
}


ol {
  margin: 0 0 20px 32px;
  padding: 0;
}

li {
  color: black;
  padding: 8px 0;
  display: list-item;
  width: 100%;
  margin: 0;
}
