* {
	margin: 0px; padding: 0px;  
	font-family: 'Inconsolata', monospace;font-weight: normal;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}
 img{
	max-width: 100%; max-height: 100%;  
}

/*--bagian pertama --*/
#pertama {
	background: url(' background2.jpg'); no-repeat; 
	background-size: cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-moz-background-size:cover;

	height: 650px;
	padding-top: 20px;
}

.clear{
	clear: both;
}

.konten{
	width: 960px;
	margin: 0 auto;
}

.kolom_3{
	width: 300px; float: left; 
}

.kolom_3_tengah{
	margin: 0 30px;
}

#logo{
	display: block;width: 100px;margin: 0 auto;
}

#menu{
	background-color: #0074b9;
	height: 50px; line-height: 50px;
	font-size: 20px; margin-top: 20px;
}
#menu a{
	display: block;text-align: center;color: white; 
}

#menu a:hover{
	background-color: #2c9ddd;
}


#bio{
text-align: center;
background-color:rgba(66, 244, 203, 0.8);
color:black;
padding:20px;
width: 600px;
line-height: 20px;
float: right;
margin-right: 40px;
text-indent: 20px;

}
#bio p{
	text-align: justify;
}



/*--bagian footer--*/

#footer{
	background-color: #0074b9;
	color: white;
	text-align: center;
	padding: 10px 0;
	margin-top:20px; 
}
